#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_atomcoin
#build/atomcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_atomcoin)

DEB_INSTALL_EXAMPLES_atomcoind += debian/examples/*
DEB_INSTALL_MANPAGES_atomcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix atomcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f atomcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake atomcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_atomcoin
	src/test_atomcoin

# Ensure wrapper is set executable
binary-post-install/atomcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/atomcoind
binary-post-install/atomcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/atomcoin-qt
